h1 {
  color : #e6855e;
  font-size: 30px;
  background-color: #f3f372;
  height:100px;
  width:200px;
}
img {
  height:100px;
  width:70px;
}
p {
  color : #0000ff;
  font-size: 30px;
  height: 100px;
  width: 200px;
}
footer-logo
  font-size: 32px;
  float:left;
}
footer-list{
  float:right;
}
.main{
  padding: 100px 80px
}
.copy-container h1{
  font size: 140px;
}
.copy-container h2{
  font size: 60px;
}
.copy-container span{
  color: #ff4a4a
}
